Build a regression model.

In [14]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

import sqlite3
from sqlite3 import Error

def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

cnx = create_connection('../db/data.db')
data_df = pd.read_sql_query('SELECT poi.*, stations.free_bikes FROM poi INNER JOIN stations on stations.stationId = poi.stationId', cnx)
data_df.head()

Connection to SQLite DB successful

,pointId,review_count,distance,rating,price,name,stationId,free_bikes
0,0,4.0,350.299502,10.0,2.02277,Elefanté,642,7
1,1,11.0,231.181530,10.0,2.02277,Resto Keela,721,3
2,2,7.0,443.975597,10.0,2.02277,Mama Khan,736,11
3,3,1.0,1195.394136,10.0,2.02277,Marché Al Amine,328,11
4,4,1.0,656.954672,10.0,2.02277,Bar Fullum,219,7

In [24]:
training = data_df[['review_count', 'distance','rating', 'price', 'free_bikes', 'stationId']].groupby('stationId').mean()
training['stationId'] = training.index
training.head()

           review_count    distance    rating     price  free_bikes  stationId
stationId
0             26.873870  766.990127  7.757885  2.074531         0.0          0
1            148.220371  290.300182  7.814286  2.084440         8.0          1
2             19.760318  917.950983  7.421037  1.943210         3.0          2
3             31.663494  125.035372  7.470137  1.876660         8.0          3
4             27.022635  445.110529  7.762293  2.015180         7.0          4

In [27]:
X = pd.DataFrame(training, columns=['review_count', 'distance','rating', 'price'])
y = pd.Series(training['free_bikes'])
X.head()

           review_count    distance    rating     price
stationId
0             26.873870  766.990127  7.757885  2.074531
1            148.220371  290.300182  7.814286  2.084440
2             19.760318  917.950983  7.421037  1.943210
3             31.663494  125.035372  7.470137  1.876660
4             27.022635  445.110529  7.762293  2.015180

Provide model output and an interpretation of the results.

In [38]:
X = sm.add_constant(X) # adding a constant
lin_reg = sm.OLS(y,X['distance'])
model = lin_reg.fit()
print_model = model.summary()
print(print_model)

                                 OLS Regression Results
=======================================================================================
Dep. Variable:             free_bikes   R-squared (uncentered):                   0.368
Model:                            OLS   Adj. R-squared (uncentered):              0.367
Method:                 Least Squares   F-statistic:                              406.7
Date:                Mon, 31 Jul 2023   Prob (F-statistic):                    1.25e-71
Time:                        12:44:28   Log-Likelihood:                         -2446.1
No. Observations:                 700   AIC:                                      4894.
Df Residuals:                     699   BIC:                                      4899.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
distance       0.0126      0.001     20.166      0.000       0.011       0.014
==============================================================================
Omnibus:                      193.783   Durbin-Watson:                   1.585
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              596.725
Skew:                           1.332   Prob(JB):                    2.65e-130
Kurtosis:                       6.656   Cond. No.                         1.00
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# Stretch

How can you turn the regression model into a classification model?